<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
  <meta charset="UTF-8">

  {% seo %}
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style"
    type="text/css" crossorigin>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#6200ee">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  <!-- Google Fonts -->
  <link rel="stylesheet  href=" https://fonts.googleapis.com/css2?family=Noto+Sans+Tagalog&family=Raleway">
  <link rel="icon" type="image/x-icon" href="{{ '/favicon.png' | relative_url }}">
  {% include head-custom.html %}
</head>

<body>
  <a id="skip-to-content" href="#content">Skip to the content.</a>

  <header class="page-header" role="banner">
    <h1 class="project-name" style="font-family: 'Raleway', sans-serif;"><span
        style="font-family: 'Noto Sans Tagalog';font-size: 2.5em;">ᜐ</span><br />{{ site.title | default:
      site.github.repository_name }}</h1>
    <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>

    <a href="{{ site.github.url }}/download" class="btn">Download</a> <a href="{{ site.github.url }}/docs/about" class="btn">Documentation</a>

  </header>

  <main id="content" class="main-content" role="main">
    {{ content }}

    {% include footer.html %}
  </main>
</body>

</html>